h1 {
    font-size: 2em;
}


body {
    background-color: rgb(192, 210, 248);
    margin-left: 2%;
    margin-right: 2%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 5%;
    margin-right: 5%;
}

.user, .clients, .clients-menu{
    /* background-color: rgb(106, 250, 93); */
    border-radius: 20px;
}

.clients-menu {
    background-color: rgb(206, 252, 169);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

button {
    font-family: 'Times New Roman', Times, serif;
    height: 40px;
    width: 90px;
    border-radius: 10px;
}

button:hover {
    filter: brightness(2);
}

section {
    background-color: rgb(206, 252, 169);
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 630px;
    border-radius: 20px;
}