nav {
    /* border: solid black 2px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10Px;
}

section {
    /* border: solid black 2px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 35px;
}