{% load static %}
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>
<center>
    <br><br><br><br>
    <h1>URVCard</h1>
    <h1>Connecte toi !</h1>
    <form action="/urvcard/login/" method="post">
        {% for field in login_form %}
        {% csrf_token %}
            {{ field.label }}
            <br>
            {{ field }}
            <br><br>
        {% endfor %}
        <button type="submit">sign up</button>
    </form>
    <!-- <a href="/register/">Inscris toi</a> -->
</center>