{% load static %}
{% block card %}

<link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css" media="all"/>

<article class="card">

    <div class="card-name">
        <h3>{{ couple.user.first_name }} {{ couple.user.last_name }}</h3>
    </div>

    <div class="card-photo">
        <img class="card-img" src="{{ card.photo.url }}" alt="{{ card.photo.name }}">
    </div>

    <div class="card-profession">
        <h3>{{ card.profession }}</h3>
    </div>

    <div class="card-description">
        <p>{{ card.description }}</p>
    </div>

    <div class="card-phone">
        <a href="tel:{{ card.phone }}"><h3>{{ card.phone }}</h3></a>
    </div>

    <div class="card-email">
        <a href="mailto:{{ couple.user.email }}"><h3>{{ couple.user.email }}</h3></a>
    </div>

    <div class="card-option">
        <a href="/clients/{{couple.user.id}}/card/{{card.id}}/email_link/">
            <button type="submit">Send email</button></a>
        <a href="/clients/{{couple.user.id}}/card/{{card.id}}/delete/">
            <button type="submit">Delete card</button></a>
    </div>

</article>

{% endblock %}
