{% load static %}
{% block card %}

<link href="{% static 'css/card.css' %}" rel="stylesheet" type="text/css" media="all"/>

<article class="card">

    <div class="card-name">
        <h3>{{ couple.user.first_name }} {{ couple.user.last_name }}</h3>
    </div>

    <div class="card-title">
        <h3>{{ card.title }}</h3>
    </div>

    {% if card.photo %}
        <div class="card-photo">
            <img class="card-photo-img" src="{{ card.photo.url }}" alt="{{ card.photo.name }}">
        </div>
    {% endif %}

    <div class="card-description">
        <p>{{ card.description }}</p>
    </div>

    <div class="card-website">
        <a href="{{ card.website }}"><h3>{{ card.website }}</h3></a>
    </div>

    <div class="card-contact">

        <a href="mailto:{{ couple.user.email }}">
            <img class="card-img" src="{% static 'img/email.png' %}">
        </a>
        <a href="tel:{{ couple.phone.number }}">
            <img class="card-img" src="{% static 'img/phone.png' %}">
        </a>

    </div>

</article>

<div class="card-option">
    <a href="/urvcard/client/{{couple.user.id}}/card/{{card.id}}/delete/">
        <img class="card-img" src="{% static 'img/delete.png' %}">
    </a>
    <a href="/urvcard/client/{{couple.user.id}}/card/{{card.id}}/email_link/">
        <img class="card-img" src="{% static 'img/QR_code.png' %}">
    </a>
</div>

{% endblock %}
