{% load static %}
<link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" media="all"/>

<center>
    <br><br>
    <h1>Ajoute une carte à  {% if user_first_name and user_last_name %}
                                {{user_first_name}} {{user_last_name}}
                            {% else %}
                                {{user_email}}
                            {% endif %} :</h1>

    <form action="/urvcard/clients/{{user_id}}/card/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in CardForm %}
            {{ field.label }}
            <br>
            {{ field }}
            <br><br>
        {% endfor %}
        <button type="submit">Valider</button>
    </form>
    <a href="/urvcard/">Retour</a>
</center>