<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>HTML email template</title>
        <meta name="viewport" content="width = 375, initial-scale = -1">
    </head>

    <body style="background-color: #ffffff; font-size: 16px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="height:100%; width:600px;">
        <!-- BEGIN EMAIL -->
            <p style="text-align:left">
                Voici votre QR-code pour generer votre carte virtuelle de {{ context.card.profession }}.<br>
                Il vous suffit de le faire scanner pour la partager.<br>
                Cordialement,<br><br>L'equipe d'E-card !
            </p>
        </table>
    </body>
</html>