.card {
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    background-color: #309473;
    border-radius: 20px;
    height: 550px;
    width: 280px;
}

.card-name {
    /* border: solid black 1px; */
    height: 5%;
    text-align: center;
}

.card-profession {
    /* border: solid black 1px; */
    height: 10%;
    text-align: center;
}

.card-photo {
    /* border: solid black; */
    height: 30%;
    text-align: auto;
    /* padding-left: auto;
    padding-right: auto; */
}

.card-img {
    display: block;
    margin: 0px auto;
    max-height: 100%;
    border-radius: 10px;
}

.card-description {
    /* border: solid black 1px; */
    height: 25%;
    padding-left: 10%;
    padding-right: 10%;
}

.card-phone {
    /* border: solid black 1px; */
    height: 10%;
    padding-left: 10%;
}

.card-email {
    /* border: solid black 1px; */
    height: 10%;
    padding-left: 10%;
}

.card-option {
    /* border: solid black 1px; */
    height: 5%;
    padding-left: 20%;
}
