.card {
    /* border: solid black 1px; */
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    background-color: #72cfb0;
    border-radius: 20px;
    height: 550px;
    width: 280px;
}

.card-name {
    max-height: 10%;
    text-align: center;
}

.card-title {
    max-height: 10%;
    line-height: 30%;
    text-align: center;
}

.card-photo {
    max-height: 30%;
    text-align: auto;
}

.card-photo-img {
    display: block;
    margin: 0px auto;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
}

.card-description {
    max-height: 20%;
}

.card-website {
    max-height: 20%;
    text-align: center;
}

.card-contact, .card-option {
    display: flex;
    justify-content: space-evenly;
}

.card-contact {
    height: 10%;
}

.card-option {
    /* border: solid black 1px; */
    flex-direction: column;
    max-height: 20%;
    max-width: 70%;
}

.card-img {
    max-height: 100%;
}

.card-img:hover {
    opacity: 0.5;
}

.card-name, .card-title, .card-photo, .card-description, .card-website, .card-contact {
    /* border: solid black 1px; */
    padding-left: 8%;
    padding-right: 8%;
}
